
<html>
    <head>
        <title>Main Page</title>
		<link rel="stylesheet" href="{% static 'importData.css' %}">
        <link rel="stylesheet" href="{% static 'navigation.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="navigationHolder">

            <div class="navigationBar">
                <h3>Django Challenge</h3>

                <div class="navigationSeperator"></div>

                <div class="navigationButtons">
					<a href="http://127.0.0.1:8000/databaseview"><button>View Database</button></a>
					<a href="http://127.0.0.1:8000/editdatabase"><button>Edit Database</button></a>
					<a href="http://127.0.0.1:8000/importdata"><button>Import Data</button></a>
                </div>
            </div>

            <hr>
        </div>
		
		<div class="Import">
			<h2>Import Data</h2>
			<hr>
			<center>
				<form>
					<input type="file" id="file" style="margin-top:10%;">
					<br>
					<Br>
					<label for="type">File Type: </label>	
					<input type="text" id="type" style="border: 1px solid black;">
					<br>
					<br>
					<button>Sumbit</button>
				</form>
				
				<p style="font-family:sans-serif;">For the file type specify if it is JSON or XML Data</p>
			</center>
		</div>
        
		
		<center>
			<div class="footer">
				<h3 style="margin-top:20px; border-right:1px solid white; padding-right:20px;">Hosted on Django </h3>

				<h3 style="margin-left:20px;">Made by Malakia Daley</h3>
					
			</div>
		</center>
    </body>
</html>